
Ch3/Assignment/1_lab_numpy/1_lab_numypy/windows/numpy_lab.py
Ch5_Pandas2/data/sales-mar-2014.xlsx
Ch5_Pandas2/data/sales-jan-2014.xlsx
Ch5_Pandas2/data/sales-feb-2014.xlsx
Ch5_Pandas2/data/phone_data.csv
Ch5_Pandas2/data/movie_rating.csv
Ch5_Pandas2/data/hubway.db
Ch5_Pandas2/data/flights.db
Ch5_Pandas2/data/excel-comp-data.xlsx
Ch5_Pandas2/data/df_routes.pickle
Ch5_Pandas2/data/customer-status.xlsx
Ch5_Pandas2/data/.DS_Store
Ch5_Pandas2/.ipynb_checkpoints/4_DB_Persistence-checkpoint.ipynb
Ch5_Pandas2/.ipynb_checkpoints/3_Merg_Concat-checkpoint.ipynb
Ch5_Pandas2/.ipynb_checkpoints/2_PivotTable_Crosstab-checkpoint.ipynb
Ch5_Pandas2/.ipynb_checkpoints/1_groupby_hierarchical_index-checkpoint.ipynb
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/windows/test.py
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/windows/submit.bat
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/windows/install.bat
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/build_matrix.pdf
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/images/2018/01/matrix.png
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/movie_rating.csv
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/README.md
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/windows/.DS_Store
Ch3/Assignment/1_lab_numpy/1_lab_numypy/windows/numpy_lab.py
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/1000i.csv
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/__pycache__/build_matrix.cpython-35.pyc
Ch3/Assignment.ipynb
