
Ch3/Assignment/1_lab_numpy/1_lab_numypy/windows/numpy_lab.py
Ch5_Pandas2/data/sales-mar-2014.xlsx
Ch5_Pandas2/data/sales-jan-2014.xlsx
Ch5_Pandas2/data/sales-feb-2014.xlsx
Ch5_Pandas2/data/phone_data.csv
Ch5_Pandas2/data/movie_rating.csv
Ch5_Pandas2/data/hubway.db
Ch5_Pandas2/data/flights.db
Ch5_Pandas2/data/excel-comp-data.xlsx
Ch5_Pandas2/data/df_routes.pickle
Ch5_Pandas2/data/customer-status.xlsx
Ch5_Pandas2/data/.DS_Store
Ch5_Pandas2/.ipynb_checkpoints/4_DB_Persistence-checkpoint.ipynb
Ch5_Pandas2/.ipynb_checkpoints/3_Merg_Concat-checkpoint.ipynb
Ch5_Pandas2/.ipynb_checkpoints/2_PivotTable_Crosstab-checkpoint.ipynb
Ch5_Pandas2/.ipynb_checkpoints/1_groupby_hierarchical_index-checkpoint.ipynb
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/windows/test.py
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/windows/submit.bat
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/windows/install.bat
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/build_matrix.pdf
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/images/2018/01/matrix.png
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/movie_rating.csv
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/README.md
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/windows/.DS_Store
Ch3/Assignment/1_lab_numpy/1_lab_numypy/windows/numpy_lab.py
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/1000i.csv
Ch4_Pandas_Section#1/2_lab_build_matrix/2_lab_build_matrix/__pycache__/build_matrix.cpython-35.pyc
Ch3/Assignment.ipynb
.idea/misc.xml
.idea/misc.xml
.idea/ml_scratch.iml
.idea/workspace.xml
2_lab_build_matrix/windows/build_matrix.py
Ch3/ndarray.ipynb
Ch3/Operation_functions.ipynb
Ch6_Matplotlib/.ipynb_checkpoints/1_functions_operations-checkpoint.ipynb
Ch6_Matplotlib/.ipynb_checkpoints/3_mpl_with_pandas-checkpoint.ipynb
Ch6_Matplotlib/.ipynb_checkpoints/4_Missing_values -checkpoint.ipynb
Ch6_Matplotlib/.ipynb_checkpoints/6_Feature_Scaling-checkpoint.ipynb
Ch6_Matplotlib/.ipynb_checkpoints/5_Categorical_data-checkpoint.ipynb
Ch6_Matplotlib/.ipynb_checkpoints/2_Graph-checkpoint.ipynb
Ch6_Matplotlib/boston.txt
Ch7_Linear_regression/.ipynb_checkpoints/Assignment_Normal_Equation-checkpoint.ipynb
Ch7_Linear_regression/lab_normal_equation/.DS_Store
Ch7_Linear_regression/lab_normal_equation/linear_model.py
Ch7_Linear_regression/lab_normal_equation/linear_regression_example.ipynb
Ch7_Linear_regression/lab_normal_equation/linux_mac/.DS_Store
Ch7_Linear_regression/lab_normal_equation/linux_mac/install.sh
Ch7_Linear_regression/lab_normal_equation/linux_mac/linear_model.py
Ch7_Linear_regression/lab_normal_equation/linux_mac/linear_regression_example.ipynb
Ch7_Linear_regression/lab_normal_equation/linux_mac/mlr09.csv
Ch7_Linear_regression/lab_normal_equation/linux_mac/submit.sh
Ch7_Linear_regression/lab_normal_equation/linux_mac/test.csv
Ch7_Linear_regression/lab_normal_equation/linux_mac/test.py
Ch7_Linear_regression/lab_normal_equation/linux_mac/train.csv
Ch7_Linear_regression/lab_normal_equation/README.md
Ch7_Linear_regression/lab_normal_equation/README.pdf
Ch7_Linear_regression/lab_normal_equation/windows/.DS_Store
Ch7_Linear_regression/lab_normal_equation/windows/.ipynb_checkpoints/linear_regression_example-checkpoint.ipynb
Ch7_Linear_regression/lab_normal_equation/windows/__pycache__/linear_model.cpython-37.pyc
Ch7_Linear_regression/lab_normal_equation/windows/install.bat
Ch7_Linear_regression/lab_normal_equation/windows/mlr09.csv
Ch7_Linear_regression/lab_normal_equation/windows/submit.bat
Ch7_Linear_regression/lab_normal_equation/windows/test.csv
Ch7_Linear_regression/lab_normal_equation/windows/test.py
Ch7_Linear_regression/lab_normal_equation/windows/train.csv
Ch7_Linear_regression/data/slr06.csv
Ch7_Linear_regression/.ipynb_checkpoints/1_Gradient_descent-checkpoint.ipynb
Ch7_Linear_regression/.ipynb_checkpoints/2_Multivariate_LR-checkpoint.ipynb
Ch7_Linear_regression/.ipynb_checkpoints/3_Performance_Measure-checkpoint.ipynb
Ch7_Linear_regression/.ipynb_checkpoints/4_LR_with_sklearn-checkpoint.ipynb
Ch7_Linear_regression/lab_gradient_descent/__pycache__/linear_model.cpython-37.pyc
Ch7_Linear_regression/lab_gradient_descent/lab_linear_model_gd.pdf
Ch7_Linear_regression/lab_gradient_descent/linear_model.py
Ch7_Linear_regression/lab_gradient_descent/linear_regression_example.ipynb
Ch7_Linear_regression/lab_gradient_descent/linux_mac/.DS_Store
Ch7_Linear_regression/lab_gradient_descent/linux_mac/install.sh
Ch7_Linear_regression/lab_gradient_descent/linux_mac/linear_model.py
Ch7_Linear_regression/lab_gradient_descent/linux_mac/linear_regression_example.ipynb
Ch7_Linear_regression/lab_gradient_descent/linux_mac/mlr09.csv
Ch7_Linear_regression/lab_gradient_descent/linux_mac/submit.sh
Ch7_Linear_regression/lab_gradient_descent/linux_mac/test.csv
Ch7_Linear_regression/lab_gradient_descent/linux_mac/test.py
Ch7_Linear_regression/lab_gradient_descent/linux_mac/train.csv
Ch7_Linear_regression/lab_gradient_descent/mlr09.csv
Ch7_Linear_regression/lab_gradient_descent/README.md
Ch7_Linear_regression/lab_gradient_descent/test.csv
Ch7_Linear_regression/lab_gradient_descent/train.csv
Ch7_Linear_regression/lab_gradient_descent/windows/.DS_Store
Ch7_Linear_regression/lab_gradient_descent/windows/.ipynb_checkpoints/linear_regression_example-checkpoint.ipynb
Ch7_Linear_regression/lab_gradient_descent/windows/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Ch7_Linear_regression/lab_gradient_descent/windows/__pycache__/linear_model.cpython-37.pyc
Ch7_Linear_regression/lab_gradient_descent/windows/install.bat
Ch7_Linear_regression/lab_gradient_descent/windows/linear_regression_example.ipynb
Ch7_Linear_regression/lab_gradient_descent/windows/mlr09.csv
Ch7_Linear_regression/lab_gradient_descent/windows/submit.bat
Ch7_Linear_regression/lab_gradient_descent/windows/test.csv
Ch7_Linear_regression/lab_gradient_descent/windows/test.py
Ch7_Linear_regression/lab_gradient_descent/windows/Untitled.ipynb
Ch7_Linear_regression/lab_gradient_descent/windows/train.csv
.idea/workspace.xml
